:root {

}
.start-screen-root {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    flex-direction: column;
}
.game-title {
    font-size: 64px;
    color: #fff;
    margin-bottom: 40px;
}
.start-game-button {
    padding: 20px 40px;
    font-size: 24px;
    color: black;       
    background-color: #c9ffe4;
    border-radius: 6px;
}